{% extends 'stores/main.html' %}

{% block content %}
    <h1 class="text-center mb-5">Change Password</h1>
    <form action="{% url 'password_change' %}" method="post">
        {% csrf_token %}

        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endfor %}

        {% for field in form %}
            <div class="form-group">
                {{ field.label }} &nbsp;
                {{ field }}
            </div>

            {% if field.errors %}
                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>
            {% endif %}
        {% endfor %}

        <button class="btn btn-success" type="submit">Change Password</button>
    </form>
{% endblock %}