{% extends 'stores/main.html' %}
{% block content %}

    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Items</h5>
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'addItem' %}">Add Item</a>

            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Available</th>
                        <th>Update</th>
                    </tr>

                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.category }}</td>
                            <td>₹{{ product.price }}</td>
                            <td>{{ product.available }}</td>

                            <td><a class="btn btn-sm btn-info" href="{% url 'update_item' product.id %}">Update</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>

{% endblock content %}