{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'menu' %}"><img height="34px" src="{% static 'images/logo.jpg' %}"
                                                         alt="Biryani Walla"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'menu' %}">Menu <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'about' %}">About Us <span class="sr-only">(current)</span></a>
            </li>

            &nbsp;&nbsp;&nbsp;&nbsp;
            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}">
                <input name="query" id="search-input" class="form-control mr-sm-2" type="search" placeholder="Search"
                       aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

        </ul>


        <div class="form-inline my-2 my-lg-0">

            {#            <form class="form-inline my-2 my-lg-0">#}
            {#                <input name="q" id="search-input" class="form-control mr-sm-2" type="search" placeholder="Search"#}
            {#                       aria-label="Search">#}
            {#                <button class="btn btn-outline-success" type="submit">Search</button>#}
            {#            </form>&nbsp;&nbsp;&nbsp;&nbsp;#}

            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown form-inline">
                    <a class="nav-link dropdown-toggle" href="#" id="text-now" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" style="color: white">
                        {{ request.user }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_staff %}
                                <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>
                                <a class="dropdown-item" href="{% url 'items' %}">Items</a>


                            {% endif %}
                            {% if request.user.is_staff %}
                                <a class="dropdown-item"
                                   href="{% url 'customer' request.user.customer.id %}">Profile</a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'account' %}">Profile</a>

                            {% endif %}
                            {% if request.user.is_staff %}
                                <a class="dropdown-item" href="{% url 'orders' %}">Orders</a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'user-page' %}">Orders</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>

                        {% endif %}

                    </div>
                </li>
            {% endif %}

            {% if request.user.is_anonymous %}
                <a href="{% url 'login' %}" class="btn btn-outline-warning">Login</a>
            {% endif %}

            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn btn-outline-warning">Logout</a>
            {% endif %}

            <a href="{% url 'cart' %}">
                <img id="cart-icon" alt="cart" src="{% static 'images/cart.png' %}">
            </a>
            <p id="cart-total">{{ cartItems }}</p>

        </div>
    </div>

</nav>
