{% extends 'stores/main.html' %}
{% load static %}
{% block content %}
    <div class="col-md-14">

        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href=""><h5 style="color: #b3d7ff">ORDERS</h5></a>
            <hr>
            <table class="table table-sm">
                <tr>
                    <th>User</th>
                    <th>Product</th>
                    <th>Date Ordered</th>
                    <th>Payment</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>

                {% for order in orders %}
                    <tr>
                        <td>{{ order.customer }}</td>

                        <td>
                            {% for i in order.orderitem_set.all %}
                                {{ i }},
                            {% endfor %}
                        </td>
                        <td>{{ order.date_ordered| date }}</td>
                        <td>{{ order.complete }}</td>
                        <td>{{ order.deliveryinfo_set.first}}</td>
                        <td>{{ order.status }}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>
{% endblock %}