{% extends 'stores/main.html' %}
{% load static %}


{% block content %}
    {% include 'stores/status.html' %}
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Date Ordered</th>
                        <th>Address</th>
                        <th>Status</th>
                    </tr>

                    {% for order in orders %}
                        <tr>
                            <td>
                                {% for i in order.orderitem_set.all %}
                                    {{ i }},
                                {% endfor %}
                            </td>
                            <td>{{ order.date_ordered|date }}</td>
                            <td>{{ order.deliveryinfo_set.first }}</td>
                            <td>{{ order.status }}</td>

                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>

{% endblock content %}